<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ProfilServlet</servlet-name>
        <servlet-class>com.ap32.servlets.ProfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthentifServlet</servlet-name>
        <servlet-class>com.ap32.servlets.AuthentifServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaserneServlet</servlet-name>
        <servlet-class>com.ap32.servlets.CaserneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeconnexionServlet</servlet-name>
        <servlet-class>com.ap32.servlets.DeconnexionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NouveauPompierServlet</servlet-name>
        <servlet-class>com.ap32.servlets.NouveauPompierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParametreServlet</servlet-name>
        <servlet-class>com.ap32.servlets.ParametreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfilServlet</servlet-name>
        <url-pattern>/profil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthentifServlet</servlet-name>
        <url-pattern>/authentification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaserneServlet</servlet-name>
        <url-pattern>/caserne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeconnexionServlet</servlet-name>
        <url-pattern>/deconnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NouveauPompierServlet</servlet-name>
        <url-pattern>/nouveau-pompier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParametreServlet</servlet-name>
        <url-pattern>/parametres</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>profil</welcome-file>
    </welcome-file-list>
</web-app>
